.cols {
  margin-top: 2rem;
}

.cols__col + .cols__col {
  margin-top: 2rem;
}

@media screen and (min-width: 47rem) {
  .cols {
    display: flex;
    justify-content: space-between;
  }

  .cols__col:first-child {
    flex-shrink: 0;
    width: 13rem;
    padding: 0.75rem 1rem;
    margin-right: 2rem;
    background-color: #eee;
  }

  .cols__col + .cols__col {
    margin-top: 0;
  }
}

.sort-form label + select {
  margin-left: 0.5rem;
}

.sort-form select + label {
  margin-left: 1.5rem;
}

.feed-form input + input {
  margin-left: 0.5rem;
}

.feed-form input[type="text"] {
  padding: 0.25rem;
}

.feed-form input[type="submit"] {
  padding: 0.25rem;
}

.feed-controls button {
  margin-top: 0.5rem;
  margin-left: auto;
}

@media screen and (min-width: 47rem) {
  .feed-controls {
    display: flex;
  }

  .feed-controls button {
    margin-top: 0;
  }
}

.logout-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  text-decoration: underline;
  cursor: pointer;
}
