.cols {
  margin-top: 2rem;
}

.cols__col + .cols__col {
  margin-top: 2rem;
}

.cols__col:first-child {
  padding: 0.5rem;
  background-color: #eee;
}

@media screen and (min-width: 47rem) {
  .cols {
    display: flex;
    justify-content: space-between;
  }

  .cols__col:first-child {
    flex-shrink: 0;
    width: 13rem;
    padding: 0.75rem 1rem;
    margin-right: 2rem;
  }

  .cols__col + .cols__col {
    margin-top: 0;
  }
}

.sort-form label + select {
  margin-left: 0.5rem;
}

.sort-form select + label {
  margin-left: 1.5rem;
}

.feed-form input + input {
  margin-top: 0.5rem;
}

@media screen and (min-width: 47rem) {
  .feed-form input + input {
    margin-top: 0;
    margin-left: 0.5rem;
  }
}

.feed-form input[type="text"] {
  padding: 0.25rem;
  width: 100%;
}

@media screen and (min-width: 47rem) {
  .feed-form input[type="text"] {
    width: auto;
  }
}

.delete-button {
  margin-top: 0.5rem;
  margin-left: auto;
}

@media screen and (min-width: 47rem) {
  .feed-controls {
    display: flex;
  }

  .delete-button {
    margin-top: 0;
  }
}

.logout-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  text-decoration: underline;
  cursor: pointer;
}

input[type="submit"],
.delete-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0;
  background-color: #2086c6;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

input[type="submit"]:hover {
  background-color: #175f8c;
}

@media screen and (min-width: 47rem) {
  input[type="submit"] {
    padding: 0.375rem 0.75rem;
  }
}

.delete-button {
  background-color: #de781f;
}

.delete-button:hover {
  background-color: #de5c1f;
}
